.xprcheckout-app {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }

  * {
    margin: 0 !important;
    box-sizing: border-box;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .wookey-button {
    padding: 15px !important;
  }
  .full-width {
    width: 100%;
  }

  .status-chip {
    border-radius: 500px;
    padding: 3px 6px;
    background-color: #c3c4c7;
    border-color: #c3c4c7;
    color: #7d7d7d;
    font-weight: 700;
    text-align: center;

    &.large {
      display: block;
      padding: 6px;
      width: 100%;
    }

    &.refunded {
      background-color: #ffd8d8;
      border: 1px solid #d25f5f;
      color: #d25f5f;
    }

    &.canceled {
      background-color: #ffd8d8;
      border: 1px solid #d25f5f;
      color: #d25f5f;
    }

    &.fulfilled {
      background-color: #dbffd8;
      border: 1px solid #a8d787;
      color: #a8d787;
    }

    &.payed-out {
      background-color: #c3c4c7;
      border-color: #c3c4c7;
      color: #7d7d7d;
    }
  }

  .warning {
    display: grid;
    gap: 10px;
    background-color: #ffd8d8;
    border: 1px solid #d25f5f;
    padding: 10px;
  }
}
